body {
  background-color: #4863A0;
  height: 100%;
  width: 100%;
}

.leftnav {
  width: 10%;
  display: flex;
  justify-content: center;
  background-color: grey;
}





.rightnav {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: flex;
  color: white;
  background-color: black;
  border: 2px solid grey;
  text-decoration: none;
  width: 98%;
  margin-right: 5%;
}

.box {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.home > a {
  text-decoration: none;
  color: white;
}


a:hover {
  color: blue;
}


.container {
  height: 500px;
  width: 100%;
}

h1 {
  text-align: center;
}

.container {
  height: 500px;
  width: 100%;
  display: flex;
  background-image: url("img/court.jpg");
  background-size: 98% 500px;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}
