body {
  background-color: #4863A0;
  height: 100%;
  width: 100%;
}

.leftnav {
  width: 10%;
  display: flex;
  justify-content: center;
  background-color: grey;
}

h4 {
  text-align: center;
}



.rightnav {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: flex;
  color: white;
  background-color: black;
  border: 2px solid grey;
  text-decoration: none;
  width: 98%;
}

.box {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.sponser {
  text-align: center;
}

.home > a {
  text-decoration: none;
  color: white;
}


a:hover {
  color: blue;
}

.title {
  color: white;
  width: 100%;
  text-align: center;
}

.main2 {
  height: 500px;
  width: 99%;
  display: flex;
  background-image: url("court.jpg");
  background-size: 1200px 500px;
}

.main {
  width: 100%;
}

.roster {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter {
  height: 500px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.kyrie {
  margin-top: 25px;
  text-align: center;
}

.adbox {
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.rip {
  height: 150px;
  width: 250px;
  border-radius: 20px;


.ad {
  background-color: grey;
  height: 75px;
  width: 200px;
  text-align: center;
  margin-top: 20px;
  border: 2px solid black;
}

.coach {
  text-align: center;
  width: 100%;
}

.fa {
  padding: 5px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.insta {
  display: flex;
  align-items: center;
  justify-content: center;
}
